<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
</head>
<body>
    <h1>Hello from SignUp</h1>
    <form action="/signupAuth" method="POST">
        <input name="userName" type="text" placeholder="Name">
        <input type="email" name="email" placeholder="Enter Email">
        <input name="password" type="password" placeholder="Password">
        <input type="submit">
    </form>
    <a href="/login">Login</a>
</body>
</html>