<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello from Login</h1>
    <form action="/auth" method="POST">
        <input name="userName" type="text" placeholder="Name">
        <input name="password" type="password" placeholder="Password">
        <input type="submit">
    </form>
</body>
</html>